@import 'src/styles/variables';

.icon {
  padding: 0.5rem;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  color: $color-palette-main;
}

.openedIcon {
  transform: rotate(180deg);
}

.closedIcon {
  transform: rotate(360deg);
}
