@import './variables.scss';

body {
  color: $color-palette-foreground;
  background-image: linear-gradient(
    to right,
    $color-palette-background-start 0%,
    $color-palette-background-end 100%
  );
  padding: 16px 32px;
}

a {
  text-decoration: none;
}

i {
  color: $color-palette-foreground;
}
