$color-palette-main: #4540c2;
$color-palette-secondary: #099f01;

$color-palette-foreground-dark: #cfab9f;
$color-palette-background-end-dark: #060809;
$color-palette-background-start-dark: #1d1d1d;

$color-palette-foreground-light: #000;
$color-palette-background-light: #fff;
