@import 'src/styles/variables.module.scss';

.caption {
  margin-top: 4rem;
}

.contact_me_button {
  margin-top: 4rem;
  background-color: rgba($color-palette-secondary, 1);
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
}

.skills_scrollbar {
  height: 60vh;
}

.my_image {
  border-radius: 50%;
  margin-bottom: 3rem;
  transform: scaleX(-1);
}
