@import 'src/styles/variables.module.scss';
@import 'src/styles/animations';

.general_info_container {
  animation: leftToRight 2s ease-in-out;
}

.caption {
  margin-top: 32px;
}

.contact_me_button {
  margin-top: 32px;
  background-color: rgba($color-palette-secondary, 1);
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  animation: float 2s ease-in-out;
  animation-iteration-count: infinite;
}

.skills_scrollbar {
  animation: rightToLeft 4s ease-in-out;
  animation-fill-mode: forwards;
  transform: translateX(200%);
  height: 60vh;
}

.my_image {
  border-radius: 50%;
  margin-bottom: 20px;
}
