@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-hex: #bbb6a5;
  --background-start-hex: #2a2f33;
}

body {
  color: rgb(var(--foreground-hex));
  background-color: var(--background-start-hex);
}
